.mypage {
  .main {
    &__inner {
      .user__registration {
        width: 700px;
        color: $mypage-black;
        background-color: $mypage-white;
        &__title {
          padding: 8px 24px;
          text-align: center;
          font-size: 24px;
          font-weight: bold;
          border-bottom: 2px solid $mypage-bgcolor;
        }
        &__main {
          padding: 64px;
          font-size: 14px;
          line-height: 21px;
          a {
            margin-top: 8px;
            position: relative;
            color: $main-blue;
            display: block;
            text-align: right;
            i {
              font-size: 16px;
              font-weight: bold;
              position: absolute;
              right: -10px;
              top: 2px;
            }
          }
          a:hover {
            opacity: 0.7;
            text-decoration: underline;
          }
          p {
            margin-top: 40px;
            font-weight: bold;
          }
          span {
            margin-top: 8px;
            display: inline-block;
          }
        }
      }
    }
  }
}